---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <!-- Use Inter font from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- This is where your global styles would go. For Tailwind, the build process handles it. -->
    <ViewTransitions />
</head>
<body class="bg-gray-900 text-gray-300 font-sans leading-relaxed">
<Header />
<slot />
<Footer/>
</body>
</html>